.login {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(229, 115, 115);
  padding: 30px;
}

.login input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid rgb(229, 115, 115);
  box-shadow: 0 1px 0 0 rgb(229, 115, 115);
}